version: "3.9"

services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  notification-service:
    build: .
    container_name: notification-service
    depends_on:
      - rabbitmq
    ports:
      - "8085:8080"